<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EloWorld {% block title %} {%endblock%}</title>
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/static/jquery-ui/jquery-ui.min.css" rel="stylesheet">
        <link href="/static/base.css" rel="stylesheet">
        <script src="/static/jquery-ui/jquery-3.2.1.min.js"></script>
        <script src="/static/jquery-ui/jquery-ui.min.js"></script>
        {% block scripts %}
        {% endblock %}
    </head>

    <body>
    <nav class="navbar navbar-default" id="navBar">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">EloWorld</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/muvari/EloWorld">Github</a></li>
        </ul>
    </nav>
    <div class="container" id="container">
        {% block cont %}
        {% endblock %}
    </div>
    <footer class="footer"><p>© 2017 MarkU</p></footer>
    </body>
</html>