{% extends 'base.html' %}

{% block cont %}
<div class="row">
    <h1>{{league.name}}</h1>
    <div class="col-lg-6 form-group">
        <div class="row">
            <h2>Ranking</h2>
            <table class="table">
                <thead class="thead-inverse">
                    <th>Name</th>
                    <th>Matches</th>
                    <th>PD</th>
                    <th>Rating</th>
                </thead>
                <tbody>
                {% for player in player_list %}
                    <tr><td>{{ player.name }}</td>
                        <td>{{ player.matches }}</td>
                        <td>{{ player.diff }}</td>
                        <td>{{ player.rating }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6 form-group">
        <div class="row">
            <h2>Add Match</h2>
            <form id="form1" method="POST" action="/l/{{ league.name }}/add_match" class="form-inline">
            <div class="col-sm-6">
            <div class="input-group">
            <span class="input-group-addon redinput" id="basic-addon1">Red</span>
            <input type="text" required name="redname" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
            </div>
            </div>
            <div class="col-sm-3">
            <div class="input-group">
            <input type="number" required name="redscore" class="form-control" placeholder="Score" aria-describedby="basic-addon1">
            </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                <span class="input-group-addon blueinput" id="basic-addon1">Blue</span>
                <input type="text" required name="bluename" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
                </div>
                </div>
                <div class="col-sm-3">
                <div class="input-group">
                <input type="number" required name="bluescore" class="form-control" placeholder="Score" aria-describedby="basic-addon1">
                </div>
                </div>
            <div class="col-sm-9">
                <div class="text-center">
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-plus"></span>
                Add Match 
            </button></div>
            </div>
             {% csrf_token %}
            </form>
        </div>
        <div class="row" name="match_history">
            <br/>
            <h2>Match History</h2>
            <table class="table" >
                <thead class="thead-inverse">
                    <th>Date</th>
                    <th>Red</th>
                    <th></th>
                    <th></th>
                    <th>Blue</th>
                </thead>
                <tbody>
                {% for match in league.matches.all reversed%}
                    <tr><td>{{ match.time }}</td>
                        <td>{{ match.matchparticipant_set.all.0.player.name}}</td>
                        <td>{{ match.matchparticipant_set.all.0.score}}</td>
                        <td>{{ match.matchparticipant_set.all.1.score}}</td>
                        <td>{{ match.matchparticipant_set.all.1.player.name}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}