{% extends 'base.html' %}
{% block title %} - {{league.label}} {%endblock%}
{% load static %}
{% block scripts %}
<script>    
var records = {{records|safe}};
$( function() {
    var names = {{playernames|safe}};
    $( "#redname" ).autocomplete({
      source: names
    });
    $( "#bluename" ).autocomplete({
      source: names
    });
  } );

</script>
{% endblock %}

{% block cont %}
<div class="row leaguebody" id="{{league.name}}">
    <h1>{{league.label}}</h1>
    <div class="col-lg-6 form-group">
        <div class="row">
            <h2>Ranking</h2>
            <table class="table">
                <thead class="thead-inverse">
                    <th>#</th>
                    <th>Name</th>
                    <th>Weekly Δ</th>
                    <th>Rating</th>
                </thead>
                <tbody>
                {% for player in player_list %}
                    <tr class="player-row" id="{{ player.name }}"><td class="col-md-1 col-sm-1">{{ forloop.counter }}</td>
                        <td class="col-md-7 col-sm-7">{{ player.name }}</td>
                        <td class="col-md-2 col-sm-2">{{ player.last }}</td>
                        <td class="col-md-2 col-sm-2 score" >{{ player.rating }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row" style="text-align: center">
                <div class="col-md-4 col-lg-4 col-sm-4">
                <table class="table-condensed">
                <thead><th>Hover legend</th></thead>
                <tbody>
                    <tr style="background-color: #CEE9CE"><td>Won more</td></tr>
                    <tr style="background-color:#FFB7B3"><td>Lost more</td></tr>
                    <tr style="background-color: #9EE5FF"><td>Equal</td></tr>
                    <tr style="background-color: #ddd"><td>Selected</td></tr>
                    <tr style="background-color: white"><td>Never played</td></tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 form-group">
        <div class="row add_match_row">
            <h2>Add Match</h2>
            <form id="form1" method="POST" action="/l/{{ league.name }}/add_match" class="form-inline">
            <div class="col-lg-8">
            <div class="input-group">
            <span class="input-group-addon redinput" id="basic-addon1">Red</span>
            <input type="text" required id="redname" name="redname" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
            </div>
            </div>
            <div class="col-lg-4">
            <div class="input-group">
            <input type="number" required name="redscore" class="form-control" placeholder="Score" aria-describedby="basic-addon1">
            </div>
            </div>
            <div class="col-lg-8">
                <div class="input-group">
                <span class="input-group-addon blueinput" id="basic-addon1">Blue</span>
                <input type="text" id="bluename" required name="bluename" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
                </div>
                </div>
                <div class="col-lg-4">
                <div class="input-group">
                <input type="number" required name="bluescore" class="form-control" placeholder="Score" aria-describedby="basic-addon1">
                </div>
                </div>
            <div class="col-lg-12">
                <div class="row text-center">
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-plus"></span>
                Add Match 
            </button></div>
            </div>
             {% csrf_token %}
            </form>
        </div>
        <div class="row" name="match_history">
            <br/>
            <h2>Match History</h2>
            <h6>(past 20 games)</h6>
            <table class="table" >
                <thead class="thead-inverse">
                    <th>Date</th>
                    <th>Red (Δ)</th>
                    <th></th>
                    <th></th>
                    <th>Blue (Δ)</th>
                </thead>
                <tbody>
                {% for match in matches%}
                    <tr><td class="match_date">{{ match.time }}</td>
                        <td class="red_table">{{ match.matchparticipant_set.all.0.player.name}} ({{ match.matchparticipant_set.all.0.delta}})</td>
                        <td class="red_table score">{{ match.matchparticipant_set.all.0.score}}</td>
                        <td class="blue_table score">{{ match.matchparticipant_set.all.1.score}}</td>
                        <td class="blue_table">{{ match.matchparticipant_set.all.1.player.name}} ({{ match.matchparticipant_set.all.1.delta}})</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/static/league.js"></script>
{% endblock %}