body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#navBar {
    background-color: #5cb85c;
}
.navbar-brand {
    color: #fff
}

button{
  margin: 12px 12px 12px 10px;
}

body {
    background-color: #fff
}
td, th {
    text-align: center;
    font-weight: bold;
}
tr:hover {
    background-color: #CEE9CE
}
th {
    background-color: #5cb85c;
    color: white;
}
.match_date {
    text-align: left;
}
.red_table {
    background-color: #FFB7B3
}
.blue_table {
    background-color: #9EE5FF;
}
.score {
    font-size: 125%;
}
.input-group {
   margin: 4px 4px 4px 4px; 
}

.redinput {
    background-color: #c9302c;
    color: #fff
}

.blueinput {
    background-color: #337ab7;
    color: #fff
}

.add_match_row {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 2px;
    padding: 4px;
    background-color: #eee;
}